/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    color: #333;
}

/* NAVBAR */
.MP1glass-navbar {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
  backdrop-filter: blur(12px);
  background: rgba(248, 159, 91, 0.8);
  box-shadow: 0 8px 32px rgba(255, 201, 160, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.215);
}

.MP1navbar-left {
  margin: 3;
}

.MP1navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3f1651CC;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.MP1navbar-right {
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  margin-right: 0.8rem;
  gap: 2.5rem;
}

.MP1navbar-right li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.MP1navbar-right li a:hover {
  color: #3F1651cc;
}

/*MainSection*/
.showcase-section {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*Video Format*/

.video-container {
  position: relative;
  width: 35%;
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/*Showcase*/
.showcase-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.showcase-wrapper h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #3f1651CC;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.showcase-grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
  width: 100%;
}

.showcase-card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.showcase-card:hover {
  transform: translateY(-8px);
}

.showcase-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.content-grid {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
}

.content-card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.content-card h1 {
  color: #3f1651CC;
  font-size: 2.5rem;
  font-weight: bold;
}

.content-card h2 {
  font-size: 1.4rem;
  color: #000000;
}